#supload_progressBar {
        width: 50%;
        height: 22px;
        border: 1px solid #111;
        background-color: #292929;
	margin-bottom: 20px;
	border-radius: 4px;
	overflow: hidden;
	display: none;
}
 
#supload_progressBar div {
        height: 100%;
        color: #fff;
        text-align: right;
        line-height: 22px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background-color: #0099ff;
	background-image: url(../img/pbar-ani.gif);
}